[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    dt = difftool
    mt = mergetool
    cp = cherry-pick
    rb = rebase
    rbom = rebase origin/main
    rv = remote -v
    fp = fetch --all --prune
    fpmf = !git fetch --all --prune && git merge --ff-only origin/main
    pu = push --set-upstream
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
    lga = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit --all
    mf = merge --ff-only
    mfom = merge --ff-only origin/main
    yolo = !git commit --all -m \"$(curl -s whatthecommit.com/index.txt)\"
[core]
    autocrlf = false
    eol = lf
    excludesfile = ~/.gitignore
[color]
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[user]
    name = Jordan Taekema
    email = email@email.com
[commit]
    gpgsign = true
[push]
    default = upstream
[gui]
    commitmsgwidth = 72
    warndetachedcommit = true
    gcwarning = false
[merge]
    tool = diffmerge
[diff]
    tool = diffmerge
[difftool "diffmerge"]
    cmd = /usr/local/bin/diffmerge \"$LOCAL\" \"$REMOTE\"
[mergetool "diffmerge"]
    cmd = /usr/local/bin/diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[init]
    defaultBranch = main
